<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
	type="text/css">
<link rel="stylesheet"
	href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
<title>CARDAPIO :: CHEF</title>
</head>
<body>

	<div class="py-2 text-left" style="background-image: url(imagens/fundoFotter.jpg); background-size: cover; background-repeat: repeat; overflow: hidden;">
		<div class="row">
			<div class="mx-auto bg-white p-4 col-12 col-md-6 bg-dark text-body"
				style="border: 10px solid gray; background-image: linear-gradient(to bottom, rgb(211, 211, 211), rgb(211, 211, 211)); background-position: top left; background-size: 100%; background-repeat: repeat;">
				<h1 class="mb-4 text-center text-dark">
					<b>CADASTRE SEU CARDAPIO</b>
				</h1>
				<br>
				<form th:action="@{/addCardapio}" th:object="${cardapio}" method="post" enctype="multipart/form-data">
				
				
						<!-- ALERTA MENSAGEM DE CARDAPIO INSERIDO -->
						<div id="alerta" class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
							<strong>INFORMAÇÕES SALVA COM SUCESSO! <a th:href="@{perfilChef}">VOLTAR.</a></strong>
						</div>
						
						<!-- ALERTA MENSAGEM DE ERRO -->	
						<div id="alerta" class="alert alert-danger" th:if="${#fields.hasAnyErrors()}" >
							<strong><p th:each="err : ${#fields.allErrors()}" th:text="${err}"></p></strong>
						</div>
						
				
						<!-- INPUT NOME DO PRATO -->
						<div class="form-group col-md-12">
							<label style="color: #000;" for="nomePrato"><strong>NOME DO PRATO:</strong></label> 
							<input type="text" style="color: #000;" id="nomePrato" th:field="*{nome}" class="form-control border border-dark rounded-sm">
						</div>
						
						<!-- INPUT DESCRIÇÃO DO PRATO -->
						<div class="form-group col-md-12">
							<label style="color: #000;" for="TipoPrato"><strong>TIPO DO PRATO:</strong></label> 
						<textarea rows="4" cols="4" style="color: #000;" id="TipoPrato" th:field="*{descricao}" placeholder="Descreva qual a culinária do prato" class="md-textarea form-control border border-dark rounded-sm"></textarea>
						</div>
						
						<div class="form-group col-md-12">
								<label style="color: #000;" for="foto"><strong>FOTO DO PRATO:</strong></label> 
						<input style="color: #000;" class="form-control  border border-dark rounded-sm" type="file" name="file" multiple="multiple">
					</div>
						
							<!-- INPUT VALOR -->
						<div class="form-group col-md-12">
								<label style="color: #000;" for="valorPessoa"><strong>VALOR POR PESSOA:</strong></label> 
						<input type="text" style="color: #000;" id="valorPessoa" th:field="*{valorPessoa}"  placeholder="Ex: R$ 50,00" class="form-control border border-dark rounded-sm">
						</div>
						
						
						<div class="form-group col-md-12">
								<label style="color: #000;" for="qtd"><strong>QUANTIDADE MÁXIMA DE PESSOAS:</strong></label> 
						<input type="text" style="color: #000;" id="qtd" th:field="*{limitePessoas}" placeholder="Ex: 100" class="form-control border border-dark rounded-sm">
						</div>
						
						
						<br>
						<div class="col-md-12 btn-group">
								<button   type="submit" class="btn btn-success offset-md-2 col-md-4"><strong>SALVAR</strong></button>&nbsp;&nbsp;&nbsp;
								<a style="color: #7f8c8d;" th:href="@{/perfilChef}" class="btn btn-outline-warning  col-md-4"><strong>VOLTAR</strong></a>
						</div>
					
					
					</form>
</body>
</html>