<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5 py-4 pb-3" style="">
    <div class="container"> <a class="navbar-brand" href="index.html">
        <b><b class="text-warning">HOME CHEF</b></b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar10">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="#"><b></b></a> </li>
          <li class="nav-item text-warning"> <a class="nav-link" href="encontrar_chef.html"><b class="text-dark"><b class="text-white">ENCONTRAR UM CHEF</b></b></a> </li>
          <li class="nav-item text-danger"> <a class="nav-link text-decoration-none" href="sobre_nos.html"><span><b class="text-dark"><b class="text-white">SOBRE NOS</b></b></span></a> </li>
          <li class="nav-item text-dark" style=""> <a class="nav-link text-decoration-none" href="contato.html"><b class="text-dark"><b class="text-white h-50">CONTATO</b></b></a> </li>
        </ul> <a class="btn navbar-btn ml-md-2 btn-light text-danger" href="perfil_usuario.html"><b class="text-warning">MINHA CONTA</b></a>
      </div>
    </div>
  </nav>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6 col-10">
          <h1>Editar Perfil</h1>
          <img class="img-fluid d-block mx-auto mb-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3caceyzRlJgx4VLB672nih90jTiZh9AwT4kOwBD95aVoAb6vX" style="	max-width: 40%;	max-height: 40%;"><a class="btn btn-primary" href="#">Selecionar foto</a>
          <form class="text-left">
            <div class="form-group"> <label for="form16"><b>Nome</b></label> <input type="text" class="form-control" id="form16" placeholder="Johann W. Goethe"> </div>
            <div class="form-group"> <label for="form17"><b>Endereço</b></label> <input type="text" class="form-control" id="form17" placeholder="Rua X, 1292">
              <div class="form-group"><label><b>Complemento endereço</b></label><input type="text" class="form-control" id="form17" placeholder="Ex, CEP, NUM"></div>
            </div>
            <div class="form-group"> <label for="form18"><b>Email</b></label> <input type="email" class="form-control" id="form18" placeholder="j.goethe@werther.com">
              <div class="form-group"><label class="mt-2"><b>Senha atual</b></label><input type="password" class="form-control" id="form18" placeholder="********"></div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6"> <label for="form19">Nova Senha</label> <input type="password" class="form-control" id="form19" placeholder="••••"> </div>
              <div class="form-group col-md-6"> <label for="form20">Confirmar senha</label> <input type="password" class="form-control" id="form20" placeholder="••••"> </div>
            </div><a class="btn btn-primary" href="perfil_usuario.html">SALVAR ALTERAÇÕES</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>