<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <div class="text-left py-5" style="	background-image: url(imagens/ct-home-chef-pat-vihtelic-bsi-20150625.jpg);	background-size: cover;	background-position: left top;	background-repeat: repeat;">
    <div class="container">
      <div class="row" style="">
        <div class="mx-auto bg-white p-5 col-12 col-md-7" style="	box-shadow: grey 10px 5px 4px;	background-image: linear-gradient(to bottom, rgb(211,211,211), rgb(211,211,211));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
          <h2 class="mb-4 text-center"><b>SELECIONE SEU PERFIL</b></h2>
          <form>
            <div class="form-group">
              <div class="row">
                <div class="border border-dark m-0 mr-auto col-md-5" style=""><img class="img-fluid d-block mx-auto border-primary rounded-0" src="imagens/706601b105716899ac6810b84e9bf362---cone-plana-de-cara-de-chef-by-vexels.png" style=""></div>
                <div class="border border-dark col-md-5" style=""><img class="img-fluid d-block rounded-circle m-2 mx-auto" src="imagens/db1b7524bf51744b64d940f30c5c26fb.jpg" style=""></div>
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="row">
                <div class="col-md-6"><a class="btn btn-primary w-50 ml-4 mr-0" th:href="@{cadastroChef}">CHEF</a></div>
                <div class="col-md-6"><a class="btn btn-outline-primary w-50 ml-5 mr-0" th:href="@{cadastro}">CLIENTE</a></div>
              </div><a class="btn btn-light mt-4 w-100" th:href="@{index}">VOLTAR</a>
              <div class="form-group"><label></label></div> <small class="form-text text-muted text-right"></small>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>