<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
  <title>Escolher Cadastro</title>
</head>

<body>
  <div class="py-5 text-left" style="	background-image: url(imagens/chef.jpg);	background-size: cover;	background-position: left top;	background-repeat: repeat;">
    <div class="container">
      <div class="row" style="">
        <div class="mx-auto bg-white p-5 col-12 col-md-6 bg-dark text-body" style="	box-shadow: grey 10px 5px 4px;	background-image: linear-gradient(to bottom, rgb(211, 211, 211), rgb(211, 211, 211));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
          <h1 class="mb-4 text-center text-dark"><b>CADASTRE-SE</b></h1>
          <form>
          	<strong>NOME:</strong>	
            <div class="form-group"> 
            <input type="email" class="form-control mb-2 border border-dark rounded-sm" placeholder="Exemplo: João" id="form9">
            <strong>EMAIL:</strong>
             <div class="form-group">
             <input type="email" class="form-control mt-2 border border-dark rounded-sm" id="form9" placeholder="exemplo@gmail.com"></div>
            </div>
            <strong>SENHA:</strong>
            <div class="form-group mb-3"> 
            <input type="password" class="form-control rounded-sm border-dark border" id="form10" placeholder="Mínimo 8 caracteres">
            <br>
            <strong>REPETIR SENHA:</strong>
              <div class="form-group"><input type="password" class="form-control mt-1 border border-dark rounded-sm" id="form10" placeholder="Insira novamente sua senha"></div> <small class="form-text text-muted text-right"></small>
            </div>
          </form>
          <div class="row">
            <div class="col-md-12"><a class="btn mb-2 btn-primary w-100" th:href="@{usuario_logado_index}"><b>FINALIZAR CADASTRO</b></a></div>
            <div class="col-md-12"><a class="btn text-white w-100" href="#" style="background: rgb(221, 75, 57);" target="_blank"><i class="fa fa-google-plus-circle fa-fw fa-1x py-1"></i><b>&nbsp;Cadastrar com o Google</b></a><a class="btn w-75 ml-4 mt-3 btn-light" th:href="@{Escolher_Cadastro}" style="">VOLTAR</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>