<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
	type="text/css">
<link rel="stylesheet"
	href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
<title>Galeria Chef</title>
<script src="https://kit.fontawesome.com/006642858d.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5 py-4 pb-3"
		style="">
		<div class="container">
			<a class="navbar-brand" th:href="@{index}"> <img alt=""
				src="/imagens/logo_homechef2.png" width="150px">
			</a>
			<button class="navbar-toggler navbar-toggler-right border-0"
				type="button" data-toggle="collapse" data-target="#navbar10">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar10">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="#"><b></b></a>
					</li>
					<li class="nav-item text-danger"><a
						class="nav-link text-decoration-none" href="sobre_nos.html"><span><b
								class="text-dark"><b class="text-white">SOBRE NOS</b></b></span></a></li>
					<li class="nav-item text-dark" style=""><a
						class="nav-link text-decoration-none" href="contato.html"><b
							class="text-dark"><b class="text-white h-50">CONTATO</b></b></a></li>
				</ul>
				<a class="btn navbar-btn ml-md-2 btn-warning text-danger"
					th:href="@{perfilChef}"><i class="fa fa-user fa-fw text-dark"></i><b
					class="text-body">MINHA CONTA</b></a>
			</div>
		</div>
	</nav>
<body>

	<div class="py-2">
		<div class="container">
			<div class="row">
				<div class="text-center col-md-12">
					<h1>
						<b>SALVE FOTOS NA SUA GALERIA E FIQUE VISÍVEL &nbsp;</b><br>
						<b>PARA SEUS FUTUROS CLIENTES</b>
					</h1>
				</div>
			</div>
		</div>
	</div>
	<hr width="50%">

<form th:action="@{/fotosGaleria}" th:object="${galeria}" enctype="multipart/form-data" method="post">

<!-- ALERTA MENSAGEM DE USUARIO CADASTRADO -->
						<div id="alerta" class="alert alert-success text-center" th:if="${!#strings.isEmpty(mensagem)}">
							<strong>FOTOS ENVIADA COM SUCESSO, VISUALIZE A ABAIXO</strong>
						</div>
						
	<div class="container" style="margin-left: 30%;">
		<div class="custom-file" style="width:  50%">
			<input type="file" name="file" class="custom-file-input" id="inputGroupFile01"
				aria-describedby="inputGroupFileAddon01"> <label
				class="custom-file-label" for="inputGroupFile01" style="color: #000; font-weight: 400;">Clique aqui para selecionar...</label>
		</div>
		<br>
		<small style="font-weight: 400;">Selecione suas fotos para envio</small>
		<br>
		<br>
	</div>
		<div class=" btn-group offset-sm-5 mt-3">
			<button type="submit" class="btn btn-success"><strong>SALVAR</strong></button>&nbsp;&nbsp;&nbsp;&nbsp;
			<a  class="btn btn-outline-primary" th:href="@{perfilChef}"><strong>VOLTAR</strong></a>
			
			</div>
			<hr width="50%">
</form>

<div class="card card-panel">
		<div class="card-heading" style="padding: 30px;">
				<h3 class="card-title" style="font-weight: 400;">Últimas Fotos Adicionadas</h3>
				<div class="card-body">
						<div >
<div class="row">
	<div class="card mb-4" style="max-width: 330px; padding: 2%; margin-left: 120px; margin-bottom: 20px;" th:each="imagens : ${listaFotos}">
		<div class="row no-gutters">
			<div class="col-md-6">
				<br>         <img class="img-fluid d-block" style="width: 400px; height: 150px; border: 3px solid #d35400;" th:attr="src=@{'/photos/'+ ${imagens.GaleriaImagem}}"> 
			</div>
				<div class="col-md-6">
					<div class="card-body">
					<a th:href="@{/EditarFoto(id=${imagens.id})}"><i class="fas fa-edit"></i> Editar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{/removerFoto(id=${imagens.id})}"><i class="fas fa-times"></i>REMOVER</a>
							</div>
						</div>
					</div>
				</div>
			</div>
       
      </div>
				</div>
		</div>
</div>
<br><br>
</body>
</html>