<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5 py-4 pb-3" style="">
    <div class="container"> <a class="navbar-brand" href="index.html">
        <b><b class="text-warning">HOME CHEF</b></b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar10">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="#"><b></b></a> </li>
          <li class="nav-item text-warning"> <a class="nav-link" href="encontrar_chef.html"><b class="text-dark"><b class="text-white">ENCONTRAR UM CHEF</b></b></a> </li>
          <li class="nav-item text-danger"> <a class="nav-link text-decoration-none" href="sobre_nos.html"><span><b class="text-dark"><b class="text-white">SOBRE NOS</b></b></span></a> </li>
          <li class="nav-item text-dark" style=""> <a class="nav-link text-decoration-none" href="contato.html"><b class="text-dark"><b class="text-white h-50">CONTATO</b></b></a> </li>
        </ul> <a class="btn navbar-btn ml-md-2 btn-light text-danger" href="perfil_usuario.html"><b class="text-warning">MINHA CONTA</b></a>
      </div>
    </div>
  </nav>
  <div class="py-5 mt-4" style="background-image: url(&quot;../../../Imagens/imagens_PP2/fundoFotter.jpg&quot;); background-position: left top; background-size: 100%; background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="lead"><b>ENCONTRE O MELHOR PRATO PRA VOCÊ!</b></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group"><input type="text" class="form-control form-control-lg mr-5 text-left border border-info rounded-sm w-100" placeholder="Ex: Cachorro Quente"></div>
        </div>
        <div class="col-md-4"><button type="submit" class="btn btn-primary btn-lg w-75">PESQUISAR</button></div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-12">
          <h1><b>AQUELE PRECINHO QUE CABE&nbsp;</b><br><b>NO SEU BOLSO!</b></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 p-3">
          <div class="card bg-light">
            <div class="card-body p-4 bg-info" style="">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="text-left" style="">Piquiras Empório Flamboyant</h2>
                  <h4 class="text-success text-right" style=""><b>R$ 45,00</b></h4>
                </div>
              </div>
              <img class="img-fluid d-block" src="imagens/Prato30a50.jpg">
              <ul class="pl-3">
                <li class="my-1" style=""><b><b>Chefe responsável:</b> A.Barros</b></li>
                <li class="my-1"><b><b>Culinária:</b> Brasileira</b></li>
                <li><b>Até 20 pessoas</b></li>
              </ul> <a class="btn btn-primary mt-3" href="chef_encontrarChef.html"><b>+ SAIBA MAIS</b></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 p-3">
          <div class="card-body p-4 bg-info mb-2">
            <div class="row">
              <div class="col-4 text-right col-md-12">
                <h2 class="text-left" style="">Hakone</h2>
                <h4 class="text-success" style=""><b>R$ 39,00</b></h4>
              </div>
            </div>
            <img class="img-fluid d-block" src="imagens/prato30a50.png">
            <ul class="pl-3">
              <li class="my-1"><b><b>Chefe responsável:</b> M.Reus</b></li>
              <li class="my-1"><b><b>Culinária:</b>&nbsp;Chinesa</b></li>
              <li class="mb-0"><b>Até 30 pessoas</b></li>
            </ul> <a class="btn btn-primary mt-3" href="chef_encontrarChef.html"><b>+ SAIBA MAIS</b></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 p-3">
          <div class="card-body bg-info p-4">
            <div class="row">
              <div class="col-4 text-right col-md-12">
                <h2 class="text-left" style="">Camarões</h2>
                <h4 class="text-success" style=""><b>R$ 35,00</b></h4>
              </div>
            </div>
            <img class="img-fluid d-block" src="imagens/c4aaaef5ffc4f7567a06d433742aa559.png">
            <ul class="pl-3">
              <li class="my-1"><b><b>Chefe responsável:</b> M.Reus</b></li>
              <li class="my-1"><b><b>Culinária: </b>Pernambucana</b></li>
              <li><b>Até 30 pessoas</b></li>
            </ul> <a class="btn btn-primary mt-3" href="chef_encontrarChef.html"><b>+ SAIBA MAIS</b></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>