<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="614456256124-4g6ecblcehs1ur9e9es8b1agin8m3ps1.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
  <script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
 </head>
<header>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"> <a class="navbar-brand" th:href="@{index}">
        <img alt="" src="/imagens/logo_homechef2.png" width="150px">
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar10">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="#"><b></b></a> </li>
          <li class="nav-item text-warning"> <a class="nav-link" th:href="@{EncontrarChef}"><b class="text-dark"><b class="text-white">ENCONTRAR UM CHEF</b></b></a> </li>
          <li class="nav-item text-danger"> <a class="nav-link text-decoration-none" th:href="@{sobre_nos}"><span><b class="text-dark"><b class="text-white">SOBRE NÓS</b></b></span></a> </li>
          <li class="nav-item text-dark" style=""> <a class="nav-link text-decoration-none" th:href="@{contato}"><b class="text-dark"><b class="text-white h-50">CONTATO</b></b></a> </li>
        	<a class="btn navbar-btn ml-md-2 btn-warning" th:href="@{login}"><i class="fa fa-user fa-fw text-dark"></i><b class="text-body">USUARIO</b></a>
        </ul>
      </div>
    </div>
  </nav>
 </header>
  <body>
  <div class="py-1" style="	background-image: url(imagens/ct-home-chef-pat-vihtelic-bsi-20150625.jpg);	background-size: cover;	background-position: left top;	background-repeat: repeat;">
    <div class="container">
      <div class="row" style="">
        <div class="mx-auto bg-white p-5 col-12 col-md-6" style="border: 10px solid gray;	background-image: linear-gradient(to bottom, rgba(211,211,211,0.5), rgba(211,211,211,0.5)); background-size: 100%;	background-repeat: repeat; overflow: hidden;">
          <h1 class="mb-4 text-center"><b>Login Chef</b></h1>
          <form th:action="@{/loginchef}" th:object="${chef}" method="POST">

            <!-- MENSAGEM DE ERRO -->
            <div th:if="${mensagemErro}">
					<div class="alert alert-danger" th:text="${mensagemErro}"></div>
			</div>
            <div class="form-group"> <input type="email" style="color: #000; font-weight: 400;" class="form-control border border-dark rounded-sm" placeholder="Email" th:field="*{email}" id="form9"> </div>
            <div class="form-group mb-3"> <input type="password" style="color: #000; font-weight: 400;" class="form-control border border-dark rounded-sm" id="form10" th:field="*{senha}" placeholder="Senha"> <small class="form-text text-muted text-right">
                
                <a th:href="@{recuperarUsuario}" class="text-black"><b> Recuperar Senha</b></a>
              </small> </div>
          
          <!-- MENSAGEM -->
          <div id="alerta" class="alert alert-danger" th:if="${!#strings.isEmpty(mensagem)}">
		<strong>USUÁRIO OU SENHA INVÁLIDA</strong>
				</div>
          <center>
           <button type="submit" class="btn btn-primary btn-mg"><strong>ENTRAR</strong></button>
           <hr>
         </center>
           
            
             <div class="row">
           <!--   <div class="col-md-12"><a class="btn text-white w-100" href="#" style="background: rgb(221, 75, 57);" target="_blank"><i class="fa fa-google-plus-circle fa-fw fa-1x py-1"></i>&nbsp;Entrar com o Google</a></div> -->
         	 <div class="g-signin2" data-onsuccess="onSignIn"  data-theme="dark" data-width="370" data-height="50" data-longtitle="true" data-lang="pt-BR"></div>
           <div><a th:href="@{login}" onclick="signOut();">Sign out</a></div>   
          </div>
           </form>
           
          <div class="row">
            <div class="col-md-12">
              <h6 class="text-center my-0 mt-4 mb-1"><b>Ainda não é cadastrado?</b></h6>
              <div class="row">
                <div class="col-md-12 text-center"><a class="btn align-items-center text-center btn-success w-75" th:href="@{Escolher_Cadastro}" style=""><strong>Cadastre-se</strong></a><a class="btn align-items-center text-center btn-light w-50 mt-2" th:href="@{index}" style="">VOLTAR</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script>

      function onSignIn(response) {

            // Conseguindo as informações do seu usuário:
            var perfil = response.getBasicProfile();

            // Conseguindo o ID do Usuário
            var userID = perfil.getId();

            // Conseguindo o Nome do Usuário
            var userName = perfil.getName();

            // Conseguindo o E-mail do Usuário
            var userEmail = perfil.getEmail(); 

            // Conseguindo a URL da Foto do Perfil
            var userPicture = perfil.getImageUrl();

            // Recebendo o TOKEN que você usará nas demais requisições à API:
            var LoR = response.getAuthResponse().id_token;

            console.log("~ le Tolkien: " + LoR);

        	jQuery(document).ready(function($) {
				$.post("/loginGoogle", {
					email : userEmail,
					nome : userName

				}, function(data) {

					

				}).done(function() {
				}).fail(function(xhr, textStatus, errorThrown) {
				}).complete(function() {
					

				});

			});
            
        };

    </script>
       
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>

 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
