<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Recuperar senha</title>
  <meta name="description" content="Wireframe design of a landing page by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe landing">
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/css/wireframe.css">
</head>

<body class="">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5 py-1 pb-1" style="">
    <div class="container"> <a class="navbar-brand" th:href="@{index}">
        <img alt="" src="/imagens/logo_homechef2.png" width="150px">
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar10">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="#"><b></b></a> </li>
          <li class="nav-item text-warning"> <a class="nav-link" th:href="@{encontrar_chef}"><b class="text-dark"><b class="text-white">ENCONTRAR UM CHEF</b></b></a> </li>
          <li class="nav-item text-danger"> <a class="nav-link text-decoration-none" th:href="@{sobre_nos}"><span><b class="text-dark"><b class="text-white">SOBRE NÓS</b></b></span></a> </li>
          <li class="nav-item text-dark" style=""> <a class="nav-link text-decoration-none" th:href="@{contato}"><b class="text-dark"><b class="text-white h-50">CONTATO</b></b></a> </li>
        </ul> <a class="btn navbar-btn ml-md-2 btn-warning text-danger" th:href="@{loginchef}"><i class="fa fa-user fa-fw text-dark"></i><b class="text-body">CHEF</b></a>
        <a class="btn navbar-btn ml-md-2 btn-light text-danger" th:href="@{login}"><i class="fa fa-user fa-fw text-dark"></i><b class="text-body">USUÁRIO</b></a>
      </div>
    </div>
  </nav>
  <div class="py-5 text-left" style="	background-image: url(imagens/ct-home-chef-pat-vihtelic-bsi-20150625.jpg);	background-size: cover;	background-position: left top;	background-repeat: repeat;">
    <div class="container">
      <div class="row" style="">
        <div class="mx-auto bg-white p-5 col-12 col-md-6" style="box-shadow: grey 10px 5px 4px;">
          <h1 class="mb-4 text-center text-uppercase"><b>Redefinir senha</b></h1>
          
          
          <form >
            <div class="form-group"> <input type="password" class="form-control border border-dark rounded-sm" placeholder="Nova Senha" id="form9" required="required"> </div>
            <div class="form-group mb-3"> <input type="password" class="form-control border border-dark rounded-sm" id="form10" placeholder="Confirmar Nova Senha" required="required"> <small class="form-text text-muted text-right"></small> </div>
          </form>
          
          
          <div class="row">
            <div class="col-md-12"><a class="btn btn-info w-100 mb-2">Redefinir Senha</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h6 class="text-center my-0 mt-4 mb-1" contenteditable="true">Ainda não é cadastrado?</h6>
              <div class="row">
                <div class="col-md-12 text-center"><a class="btn align-items-center btn-success w-100 text-center" th:href="Escolher_Cadastro" style="">Cadastre-se</a><a class="btn align-items-center text-center btn-light w-50 mt-3" th:href="login" style="">VOLTAR</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
</body>

</html>